.section-hero {
  @include text-style(96);

  position: relative;
  width: 100%;
  height: 100vh;

  @include responsive(desktop) {
    @include text-style(80);
  }

  @include responsive(tablet) {
    @include text-style(56);
  }

  @include responsive(mobile) {
    @include text-style(48);

    font-size: 4rem;
  }

  .intro-wrapper {
    @include flexbox;

    width: 100%;
    height: calc(100vh - 11.2rem - 5.4rem);
    margin-top: 11.2rem;
  }

  .intro-inner {
    @include column-flexbox(between);

    width: 100%;
    height: 100%;
    padding: 5rem 5.6rem;

    @include responsive(laptop) {
      height: 70vh;
      padding: 0 3rem;
    }

    @include responsive(tablet) {
      height: 56vh;
      padding: 0 1.6rem;
    }

    @include responsive(mobile) {
      height: 46vh;
    }
  }

  .intro-left-greeting,
  .intro-left-designer,
  .intro-left-developer,
  .intro-right-ux,
  .intro-right-ds {
    overflow: hidden;
    width: auto;

    p {
      opacity: 0;
    }
  }

  .intro-left {
    width: 100%;

    .pacman {
      position: relative;
      bottom: -0.3rem;
      margin-left: 0.6rem;

      @include responsive(desktop) {
        bottom: -0.6rem;
      }

      @include responsive(tablet) {
        bottom: -0.4rem;
        margin-left: 0.2rem;

        img {
          width: 3.8rem;
          height: 3.8rem;
        }
      }

      @include responsive(mobile) {
        img {
          width: 3rem;
          height: 3rem;
        }
      }
    }

    &-designer span:last-child {
      position: relative;
      margin-left: 5.6rem;

      &::before {
        content: '';

        position: absolute;
        bottom: 2rem;
        left: -4.6rem;

        width: 4rem;
        height: 0.8rem;

        background-color: $white;
      }

      @include responsive(tablet) {
        margin-left: 2.8rem;

        &::before {
          bottom: 1rem;
          left: -2.4rem;
          width: 2rem;
          height: 0.4rem;
        }
      }
    }
  }

  .intro-right {
    width: 100%;
    text-align: end;

    &-ux {
      span:last-child {
        position: relative;
        margin-left: 5.6rem;

        &::before {
          content: '';

          position: absolute;
          bottom: 2rem;
          left: -4.6rem;

          width: 4rem;
          height: 0.8rem;

          background-color: $white;
        }

        @include responsive(tablet) {
          margin-left: 2.8rem;

          &::before {
            bottom: 1rem;
            left: -2.4rem;
            width: 2rem;
            height: 0.4rem;
          }
        }
      }
    }

    &-ds {
      .plus {
        margin-right: 0.8rem;

        @include responsive(mobile) {
          margin-right: 0.2rem;
        }
      }
    }
  }

  // Scroller Motion
  &.is-motion {
    .intro-left-greeting {
      p {
        transform: translate3d(0, 0, 0);
        animation: intro-slide-up 1.4s forwards;
      }
    }

    .intro-left-designer {
      p {
        transform: translate3d(0, 0, 0);
        animation: intro-slide-up 1.8s forwards;
      }
    }

    .intro-left-developer {
      p {
        transform: translate3d(0, 0, 0);
        animation: intro-slide-up 2.2s forwards;
      }
    }

    .intro-right-ux {
      p {
        transform: translate3d(0, 0, 0);
        animation: intro-slide-up 2.2s forwards;
      }
    }

    .intro-right-ds {
      p {
        transform: translate3d(0, 0, 0);
        animation: intro-slide-up 2.4s forwards;
      }
    }
  }

  .view-footer {
    @include flexbox(between);

    position: fixed;
    right: 0;
    bottom: 4rem;
    left: 0;

    width: 100%;
    padding: 0 5.6rem;

    @include text-style(14, $gray80);

    &-copyright {
      animation: copyright-show-left 1.8s;
    }

    &-contact {
      animation: contact-show-right 1.8s;
    }

    @include responsive(laptop) {
      padding: 0 3rem;
    }
  }
}

@keyframes intro-slide-up {
  0% {
    opacity: 0;
  }

  30% {
    transform-origin: top left;
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes copyright-show-left {
  0% {
    opacity: 0;
  }

  30% {
    transform: translateX(-100%);
  }
}

@keyframes contact-show-right {
  0% {
    opacity: 0;
  }

  30% {
    transform: translateX(100%);
  }
}
