.section-about {
  @include flexbox(start);

  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;

  @include responsive(tablet) {
    @include column-flexbox(start);

    height: auto;
  }

  .expertise-list {
    display: inline-block;
    width: 58%;
    text-align: center;

    @include responsive(desktop) {
      width: 50%;
    }

    @include responsive(tablet) {
      width: 100vw;
    }
  }

  .expertise-item {
    .btn-menu {
      position: relative;

      &-text {
        @include text-style(80, $gray70, bold);

        position: relative;
        line-height: 1.2;

        @include responsive(desktop) {
          @include text-style(56, $gray70, bold);
        }

        @include responsive(laptop) {
          @include text-style(48, $gray70, bold);
        }

        @include responsive(mobile) {
          @include text-style(32, $gray70, bold);
        }
      }

      &-text::before {
        content: attr(data-menu);

        position: absolute;

        overflow: hidden;

        width: 0;
        height: 100%;

        color: $white;
        white-space: nowrap;
      }

      &.is-active {
        .btn-menu-text::before {
          animation: text-full 1s linear forwards;
        }
      }
    }
  }

  &.is-motion {
    .expertise-list {
      animation: fade-in-left 1s linear;
    }

    .description-list {
      animation: fade-in-right 1.8s linear;
    }
  }
}

@keyframes fade-in-left {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }

  30% {
    transform: translateX(-50px);
    opacity: 0;
  }
}

@keyframes fade-in-right {
  0% {
    transform: translateX(30px);
    opacity: 0;
  }

  30% {
    transform: translateX(30px);
    opacity: 0;
  }
}

@keyframes text-full {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.description {
  &-list {
    @include column-flexbox;

    width: 42%;
    height: 100vh;

    @include responsive(desktop) {
      width: 50%;
    }

    @include responsive(tablet) {
      width: 100%;
      height: 100%;
      padding-top: 5rem;
    }
  }

  &-item {
    display: none;

    &.is-open {
      display: block;

      .description-title {
        animation: description-show-up 1.4s;
      }

      .description-text {
        animation: description-show-up 2s;
      }

      .description-text:last-child {
        animation: description-show-up 2.4s;
      }
    }
  }

  &-card {
    width: 53rem;

    @include responsive(laptop) {
      width: 36vw;
    }

    @include responsive(tablet) {
      width: 70vw;
    }

    @include responsive(mobile) {
      width: 80vw;
      text-align: center;
    }
  }

  &-title {
    @include text-style(32, $white, bold);

    margin-bottom: 4.8rem;

    @include responsive(laptop) {
      @include text-style(24, $white, bold);

      margin-bottom: 3.2rem;
    }
  }

  &-textbox {
    @include text-style(16, $gray80);

    @include responsive(laptop) {
      @include text-style(14, $gray80);
    }
  }

  &-text:first-child {
    margin-bottom: 2.4rem;
    color: $white;
  }
}

@keyframes description-show-up {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  30% {
    transform: translateY(30px);
    opacity: 0;
  }
}
