.header {
  @include flexbox(between);

  position: fixed;
  z-index: $header-level;
  top: 3.2rem;
  left: 50%;
  transform-origin: center center;
  transform: translateX(-50%);

  overflow: hidden;

  width: 80rem;
  padding: 1.2rem;

  background: $header-opacity-background;
  border-radius: 2.4rem;

  transition: $base-transition;
  animation: header-slide-down 1s;

  &::before {
    content: '';

    position: absolute;
    z-index: $before-content-level;
    inset: 0.1rem;

    background: $opacity-black-90;
    background-color: $opacity-black-70;
    backdrop-filter: blur(30px);
    border-radius: 2.4rem;
  }

  &-nav {
    @include flexbox(between, center, 1.6rem);

    width: 100%;

    .nav-logo {
      padding-left: 4rem;
    }

    .nav-indicator {
      @include text-style(18, $white, bold);

      .emoji {
        display: inline-block;
        margin-right: 0.8rem;
        animation: emoji 1s infinite;
      }
    }
  }
}

.btn-contact {
  position: relative;

  overflow: hidden;
  flex-shrink: 0;

  width: 12rem;
  height: 5.6rem;

  border: 0.1rem solid $opacity-white-60;
  border-radius: 1.2rem;

  transition: $base-transition;

  &:hover {
    border-color: $white;
  }

  &-text {
    @include text-style(16, $white, bold);
  }

  @include inline-flexbox;
}

@keyframes emoji {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-0.4rem);
  }
}

@keyframes header-slide-down {
  0% {
    opacity: 0;
  }

  30% {
    transform: translate3d(-50%, -100%, 0);
    opacity: 0;
  }
}
