.header-wrapper {
  @include flexbox;

  position: fixed;
  z-index: $header-level;
  top: 0;
  right: 0;
  left: 0;

  width: 100%;
  height: auto;

  @include responsive(laptop) {
    padding: 0 3rem;
  }

  @include responsive(tablet) {
    padding: 0 1.6rem;
  }
}

.header {
  @include flexbox(between);

  position: relative;
  z-index: $after-content-level;

  overflow: hidden;

  width: 80rem;
  margin-top: 3.2rem;
  padding: 1.2rem;

  background: $header-opacity-background;
  border-radius: 2.4rem;

  transition: $base-transition;
  animation: header-slide-down 1s;

  @include responsive(laptop) {
    width: 100%;
  }

  &::before {
    content: '';

    position: absolute;
    z-index: $before-content-level;
    inset: 0.1rem;

    background: $opacity-black-90;
    background-color: $opacity-black-70;
    backdrop-filter: blur(30px);
    border-radius: 2.4rem;
  }

  &-nav {
    @include flexbox(between, center, 1.6rem);

    width: 100%;

    .nav-logo {
      padding-left: 4rem;

      @include responsive(tablet) {
        padding-left: 1.6rem;
      }
    }

    .nav-indicator {
      @include text-style(18, $white, bold);

      animation: jump-indicator 1s infinite;

      @include responsive(tablet) {
        display: none;
      }

      .emoji {
        display: inline-block;
        margin-right: 0.8rem;
      }
    }
  }
}

.btn-contact {
  @include inline-flexbox;

  position: relative;

  overflow: hidden;
  flex-shrink: 0;

  width: 12rem;
  height: 5.6rem;

  border: 0.1rem solid $opacity-white-60;
  border-radius: 1.2rem;

  transition: $base-transition;

  &:hover {
    border-color: $white;
  }

  &-text {
    @include text-style(16, $white, bold);
  }

  @include responsive(tablet) {
    border-color: $white;
  }
}

@keyframes jump-indicator {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-0.4rem);
  }
}

@keyframes header-slide-down {
  0% {
    opacity: 0;
  }

  30% {
    transform: translate3d(0, -100%, 0);
    opacity: 0;
  }
}
