$white: #f5f5f5;
$black: #000;
$gray8: #888;
$header-border: 0.2rem solid rgb(144 144 144 / 16%);
$box-border: 0.1rem solid rgb(144 144 144 / 16%);
$opacity-black-70: rgb(0 0 0 / 70%);
$opacity-white-60: rgb(255 255 255 / 60%);
