.footer {
  width: 100%;
  height: 50vh;
  padding: 0 5.6rem;

  &-inner {
    @include column-flexbox(center, start);

    height: 100%;
  }

  &-title {
    @include text-style(56);
  }

  &-mail {
    @include text-style(80);
  }
}
